<h1>About Us...</h1>

<h2> Regil Koshy </h2>
<p> I am regil Koshy. I am regil koshy. I am regil Koshy. I am regil koshy. I am regil Koshy. I am regil koshy. I am regil Koshy. I am regil koshy. I am regil Koshy. I am regil koshy. I am regil Koshy. I am regil koshy. </p>
<p>
	<%= @about_me %>
</p>